<div class="flex">
    <div class="flex-1 p-6">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-semibold">Sales Summary</h1>
        </div>

        <div class="flex gap-3 mb-6">
            <div class="relative">
                <input type="date" [(ngModel)]="salesDate" placeholder="Order Date"
                       class="form-input">
            </div>

            <div class="relative">
                <button class="btn btn-primary" (click)="getSalesSummary()">
                    <fa-icon [icon]="faSearch" class="mr-2"></fa-icon>
                    Search
                </button>
            </div>

        </div>

        <!-- Table -->
        <div class="bg-white rounded-lg border border-primary-100 p-4">
            <div class="overflow-x-auto">
                <table class="w-full">
                    <thead class="mb-6">
                    <tr>
                        <th class="px-4 py-3 text-left text-sm font-medium text-primary-600">Sales Rep Name</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-primary-600">Order Date</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-primary-600">Total Orders</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-primary-600">Total Sale</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-primary-600">Cash on Hand</th>
                        <th class="px-4 py-3 text-left text-sm font-medium text-primary-600">Unpaid Amount</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-primary-100">
                        @if (orderService.summary().length === 0) {
                            <tr>
                                <td colspan="9" class="px-6 py-10">
                                    <div class="flex flex-col items-center justify-center text-center">
                                        <p class="text-xl font-semibold text-gray-700 mb-2">No Orders found</p>
                                        <p class="text-gray-500">We couldn't find any orders that match your
                                            search criteria.</p>
                                    </div>
                                </td>
                            </tr>
                        } @else {
                            @for (order of orderService.summary(); track order) {
                                <tr class="hover:bg-primary-50">
                                    <td class="px-4 py-3 text-sm">{{ order.salesRepName }}</td>
                                    <td class="px-4 py-3 text-sm">{{ order.orderDate }}</td>
                                    <td class="px-4 py-3 text-sm">{{ order.totalOrders }}</td>
                                    <td class="px-4 py-3 text-sm">Rs. {{ order.totalSales }}</td>
                                    <td class="px-4 py-3 text-sm">Rs. {{ order.cashOnHand }}</td>
                                    <td class="px-4 py-3 text-sm">Rs. {{ order.unpaidAmount }}</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

